---
layout: default
title: Jeff Bradley
description: Engineering, AI, and life - a blog by Jeff Bradley
---

<p class="site-intro">I'm Jeff. I write about engineering, AI, and life.</p>

<ul class="post-list">
  {% for post in site.posts limit:15 %}
  <li class="post-list-item">
    <span class="post-list-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </span>
    <span class="post-list-date">{{ post.date | date: "%b %d, %Y" }}</span>
  </li>
  {% endfor %}
</ul>

{% if site.posts.size > 15 %}
<a href="{{ '/archive/' | relative_url }}" class="view-all">View all posts &rarr;</a>
{% endif %}
